template#list-card-template
  .list-card
    h4(data-card-title)
    div(data-card-meta-container)
      .meta(data-card-meta-line)
    .actions(data-card-actions)
    div(data-card-menu)
    div(data-card-details)
