.modal#confirm-modal(aria-hidden="true")
  .modal-card(role="dialog" aria-modal="true" aria-labelledby="confirm-title")
    .modal-header
    h3#confirm-title Confirm action
      button.ghost#confirm-close(type="button") Close
    p.meta#confirm-message Are you sure you want to continue?
    .modal-actions
      button.primary#confirm-accept(type="button") Confirm
      button.ghost#confirm-cancel(type="button") Cancel
