<header class="site-header">
  <div class="brand">
    <img class="brand-icon" src="/favicons/favicon-32x32.png" alt="" aria-hidden="true">
    <span>{{appName}}</span>
  </div>
  <button class="nav-toggle" type="button" data-nav-toggle aria-expanded="false" aria-controls="site-nav">
    <span class="nav-toggle-icon" aria-hidden="true"></span>
    <span class="nav-toggle-label">Menu</span>
  </button>
  <nav class="nav-links" id="site-nav">
    <a class="{{dashboardClass}}" href="/">Dashboard</a>
    <a class="{{ingredientsClass}}" href="/ingredients">Ingredients</a>
    <a class="{{foodsClass}}" href="/foods">Foods</a>
    <a class="{{recipesClass}}" href="/recipes">Recipes</a>
    <a class="{{logClass}}" href="/log">Log Intake</a>
    <a class="{{settingsClass}}" href="/settings">Settings</a>
    <button class="nav-logout" id="logout-button" type="button">Log out</button>
  </nav>
</header>
